@model CIS420Redux.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Dashboard";
}


<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading" style="background-color: red;">
        <h3>Student Home</h3>
    </div>
    <p>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="panel-primary">
                <div class="panel-heading" style="background-color: red;">
                    <h4>Student Information</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_StudentsPartial", Model.StudentsList)
                </div>
            </div>
        </div>
        </p>
        <p>
        <div class="col-md-6">

            <div class="panel-primary">
                <div class="panel-heading" style="background-color: red;">
                    <h4>To-Do List</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_TodosPartial", Model.TodosList)
                </div>
            </div>
        </div>
            </p>
    </div>
    <h4 style="text-align: left;">  Links:</h4>
    <p>
        <label style="text-align: left;">  Upper Division Application:</label>
        @Html.ActionLink("LinkToUpperDivisionApplication", "Create", "UdApplication")
    </p>
    <p>
        <label style="text-align: left;">  BSN Application:</label>
        <a href="https://louisville.edu/nursing/bsn">LinkToBSNApplication</a>
    </p>
    <p>
        <label style="text-align: left;">Link To Current Students</label>
        <a href="https://louisville.edu/nursing/current-students">LinkToCurrentStudentsPage</a>
    </p>
    <p>
        <label style="text-align: left;">Application for Graduate Admission</label>
        <a href="https://louisville.edu/nursing/current-students">LinkToGraduateAdmission</a>
    </p>
</div>



