@model CIS420Redux.Models.ViewModels.POS.PotentialClassIndexViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="panel panel-primary; col-md-12" style="margin-top: 15px">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
        <h3 style="text-align:center">Program of Study with Potential Courses</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-primary">
                    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
                        <h4>Potential Courses</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("CoursePartial", Model.CourseList)
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel-primary">
                    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
                        <h4>Program of Study</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("ImagePartial", Model.posImage)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

