@model CIS420Redux.Models.Student
@{ 
    ViewBag.Title = "ImagePartial";
}
<h2>Program of Study</h2>
@using (Html.BeginForm())
{
<div>
@if(Model.ProgramId == 1)
{
    <img src="~/Content/IMG/Traditional BSN POS 001.png"  style="max-width: 100%; height: auto"/>
}
else if (Model.ProgramId == 2)
{
    <img src="~/Content/IMG/RN-BSN POS 001.png" style="max-width: 100%; height: auto"/>
}
else
{
    <img src="~/Content/IMG/MEPN POS.png" style="max-width: 100%; height: auto"/> 
}
</div>
}