@model CIS420Redux.Models.Program

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-primary" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Details of Program</h3>
    </div>
    </div>

    <div>
        <h4>Program</h4>
        <hr />
        <dl class="dl-horizontal" style="color: black;">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Program")'">Back to List</button>
    </p>
