@model List<CIS420Redux.Models.ViewModels.SelectUserRolesViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<div class="panel panel-primary" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Users Roles</h3>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4"><b>User Name</b></div>
    <div class="col-md-4"><b>Roles</b></div>
</div>
@{ var list = Model.ToList();
    for (int i = 0; i < list.Count; i++)
    {
            <div class="col-md-12">
                <div class="col-md-8">@Html.DisplayFor(modelItem => list[i].UserName)</div>
                 <div class="col-md-6">
                    @foreach (var role in list[i].Roles)
                    {
                        <p>@role.RoleName</p>

                    }
                </div>
                
                    <div class="col-md-4">
                    <a href="@Url.Action("Edit", "UserManagement",new { @id = Model.ToList()[i].Id})">Edit</a>
                </div>
            </div>
    }
}

<br />
<br />
<br />
