@model List<CIS420Redux.Models.ViewModels.SelectUserRolesViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<div class="panel panel-primary" style="margin-top: 15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35); text-align: center;">
        <h3>Users Roles</h3>
    </div>
</div>
<table>
    <thead class="col-md-8">
        <tr>
        <th class="col-md-4"><b>User Name</b></th>
        <th class="col-md-4"><b>Roles</b></th>
      </tr>
    </thead>
    @{ var list = Model.ToList();
        for (int i = 0; i < list.Count; i++)
        {
            <tbody class="col-md-12">
                <tr>
                <td class="col-md-8">@Html.DisplayFor(modelItem => list[i].UserName)</td>
                <td class="col-md-6">
                    @foreach (var role in list[i].Roles)
                    {
                        <p>@role.RoleName</p>

                    }
                </td>

                <td class="col-md-4">
                    <a href="@Url.Action("Edit", "UserManagement",new { @id = Model.ToList()[i].Id})">Edit</a>
                </td>
                </tr>
            </tbody>
        }
    }

</table>