
@section TitleContent {
	EventSelecting
}

<p>EventSelecting is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/EventSelecting">EventSelecting</a></p>
