
@section TitleContent {
	EventContextMenu
}

<p>EventContextMenu is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/EventContextMenu">EventContextMenu</a></p>
