
@section TitleContent {
	ExternalDragDrop
}

<p>ExternalDragDrop is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/ExternalDragDrop">ExternalDragDrop</a></p>
