
@section TitleContent {
	FixedColumnWidth
}

<p>FixedColumnWidth is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/FixedColumnWidth">FixedColumnWidth</a></p>
