
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar

@section TitleContent {

	AJAX Drag&amp;Drop Event Calendar

}



<script type="text/javascript">

	function createEvent(start, end, resource) {
	    modal().showUrl("@Url.Content("~/Dialog/New")?start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
	}

	function editEvent(id) {
	    modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
	}

	function modal() {
	    var modal = new DayPilot.Modal();
	    modal.onClosed = function (args) {
	        if (args.result == "OK") {
	            dpc.commandCallBack('refresh');
	        }
	        dpc.clearSelection();
	    };
	    return modal;
	}

</script>

<div class="note"><b>Note:</b> This page uses the customizable <a href="http://code.daypilot.org/81367/daypilot-modal">DayPilot modal dialog</a> for event creating and editing.</div>
<div>

        @(Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig { 
                BackendUrl = Url.Content("~/Calendar/Backend"),
                ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
                
                TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
                TimeRangeSelectedJavaScript = "createEvent(start, end)",
                EventMoveHandling = EventMoveHandlingType.CallBack,
                EventResizeHandling = EventResizeHandlingType.CallBack,
                EventClickHandling = EventClickHandlingType.JavaScript,
                EventClickJavaScript = "editEvent(e.value());",				
                LoadingLabelText="<img src='" + Url.Content("~/Media/linked/ajax-loader-round.gif") + "' />",
                LoadingLabelBackColor="",
        }))
</div>



