
@section TitleContent {
	Notify Event Model
}

<p>Notify Event Model is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/Notify">Notify Event Model</a></p>
