
@section TitleContent {
	RecurringEvents
}

<p>RecurringEvents is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/RecurringEvents">RecurringEvents</a></p>
