
@section TitleContent {
	TimeHeaderCellDuration
}

<p>TimeHeaderCellDuration is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/TimeHeaderCellDuration">TimeHeaderCellDuration</a></p>
