
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar

@section TitleContent {
	Resources View
}


<p>Days - Resources view is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Calendar/DaysResources">Days - Resources View</a></p>


