
@{
    ViewBag.Title = "Advisors";
}

<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading" style="background-color: #AD0000;">
        <h2 style="text-align: center; color: white;">Advising</h2>
        </div>
       </div>
<p>
    <label style="text-align: left; text-decoration: underline;"><font size="5">Trish Hart</font> </label> 
   <br/> 
     Assistant Dean of Student Affairs  
<br/> 
    HSC, K Building, 3rd Floor 
<br/>
<a href="mailto:p0hart01@louisville.edu"> p0hart01@louisville.edu</a>
</p>
<p>
<label style="text-align: left; text-decoration: underline;"><font size="5">Jessica Roussel, M.S.</font></label>
<br />
    Academic Counselor, Sr.
<br/>
Advises (M-Z) Lower and Upper Division Traditional Students  
<br/>
    HSC, K Building, 3rd Floor. Fall/Spring: T,W HSC & M,Th,F Studio Arts Building (accessible using University Boulevard).
    <br/>
   <a href="mailto:jadeck02@louisville.edu">jadeck02@louisville.edu</a>
    </p>
<p>
    <label style="text-align: left; text-decoration: underline;"><font size="5">Shaun Sowell, M.Ed.</font></label>
    <br/>
        Academic Counselor, Sr.
    <br/>
    Advises (A-G) Lower and Upper Division Traditional Students
    <br/>
    HSC, K Building, 3rd Floor. Fall/Spring: Th,F HSC & M,T,W Studio Arts Building (accessible using University Boulevard).
    <br/>
     <a href="mailto:smsowe02@louisville.edu">smsowe02@louisville.edu</a>
    <br/>
    </p>

<p>
    <label style="text-align: left; text-decoration: underline;"><font size="5">Andre Brewer, MBA, MSGC</font></label>
    <br/>
    Academic Counselor, Sr.
    <br/>
    Advises (H-L) & Lower and Upper Division and All Accelerated Second Degree Students
    <br/>
    HSC, K Building, 3rd Floor. Fall/Spring: M,T,Th,F HSC & Wednesday Studio Arts Building (accessible using University Boulevard).
    <br/>
    <a href="mailto:arbrew03@louisville.edu">arbrew03@louisville.edu</a>
    <br/>
    </p>

<p>
    <label style="text-align: left; text-decoration: underline;"><font size="5">Terri Knott</font></label>
    <br/>
    Academic Counselor, Sr.
    <br/>
    Traditional BSN Owensboro Campus
    <br/>
    <a href="mailto:tdhigd02@louisville.edu">tdhigd02@louisville.edu</a>
    <br/>

</p>

<p>
    <label style="text-align: left; text-decoration: underline;"><font size="5">Jessica Jackey, M.Ed.</font></label>
    <br/>
    Academic Counselor, Sr.
    <br/>
    MSN and MEPN Graduate Students
    <br/>
    HSC, K Building, 3rd Floor
    <br/>
    <a href="mailto:jdjack05@louisville.edu"> jdjack05@louisville.edu</a>
</p>


