@model CIS420Redux.Models.ViewModels.Advisor.AdvisorIndexViewModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="panel" style="margin-top:15px; padding: 0px; margin-right: -1px;">           
    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
        <h3 style="text-align: center">Advisor Home</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel" style="float: left; min-width: 400px">
                    <div class="panel-heading" style="background-color: rgb(227, 27, 35)">
                        <h3 style="text-align: center">Alerts</h3>
                    </div>
                        @if (Model.NCStudentsList != null && Model.NCStudentsList.Any())
                        {
                            @Html.Partial("NCStudentsPartial", Model.NCStudentsList)
                        }
                        else
                        {
                            <h5 align="center" style="color: #000000">No Students Out of Clinical Compliance</h5>
                        }
                         
                    @if (Model.EventAlertList != null && Model.EventAlertList.Any())
                    {
                        @Html.Partial("EventAlertsPartial", Model.EventAlertList)
                    }
                    else
                    {
                        <h5 align="center" style="color: #000000">No Events in the Upcoming Week</h5>
                    }
                </div>
            </div> 
            <div class="col-md-6">
                <div class="panel-primary">
                    <div class="panel-heading" style=" background-color: rgb(227, 27, 35); min-width: 400px">
                        <h3 style="text-align: center">To-Dos</h3>
                    </div>   
                    @if (Model.AdvisorTodosList != null && Model.AdvisorTodosList.Any())
                    {
                        @Html.Partial("AdvisorTodosPartial", Model.AdvisorTodosList)
                    }
                    else
                    {
                        <h5 align="center" style="color: #000000">No Available To-Dos</h5>
                    }               
                                        
                </div>
            </div>
        </div>
    </div>
</div>
   
