@model  CIS420Redux.Models.ViewModels.Advisor.StudentRecordViewModel
@{
    ViewBag.Title = "StudentRecords";
}
<div class="panel" style="margin-top:15px;">
    <div class="panel-heading" style="background-color: rgb(227, 27, 35);">
        <h3 style="text-align:center">Student Records</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-primary">
                    <div class="panel-heading"style="background-color: rgb(227, 27, 35);">
                        <h3 class="col-md-7">Student Records</h3>
                        <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href = '@Url.Action("Index", "Enrollment")'">Post Grades</button>
                    </div>
                    <div class="panel-body" style="color: #000000">
                        @Html.Partial("StudentRecordsPartial",Model.StudentRecordsList)
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel">
                    <div class="panel-heading" style="background-color: rgb(227, 27, 35);">
                        <h3>To-Dos</h3>
                    </div>
                    <div>
                        @Html.Partial("AdvisorTodosPartial", Model.AdvisorTodosList)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>