
@section TitleContent {
	EventMoveToPosition
}

<p>EventMoveToPosition is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Month/EventMoveToPosition">EventMoveToPosition</a></p>
