
@section TitleContent {
	EventCssContinue
}

<p>EventCssContinue is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Month/EventCssContinue">EventCssContinue</a></p>
