
@section TitleContent {
	EventDoubleClick
}

<p>EventDoubleClick is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Month/EventDoubleClick">EventDoubleClick</a></p>
