
@section TitleContent {
	EventActiveAreas
}

<p>EventActiveAreas is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Month/EventActiveAreas">EventActiveAreas</a></p>
