
@section TitleContent {
	NotifyEventModel
}

<p>NotifyEventModel is only supported in the Pro edition:</p>
<p><a href="http://mvc.daypilot.org/demo/Month/NotifyEventModel">NotifyEventModel</a></p>
