
@using DayPilot.Web.Mvc.Events.Month

@section TitleContent {
	Blue CSS Theme (Monthly Event Calendar)
}

<script type="text/javascript">

	function createEvent(start, end) {
	    var name = prompt("New Event Name:", "New Event");
	    if (!name) { return; }
	    dp.timeRangeSelectedCallBack(start, end, { name: name });
	    dp.clearSelection();
	}

</script>

<div class="month_blue_wrap"><div class="month_blue_wrap_inner">
@(Html.DayPilotMonth("dp", new DayPilotMonthConfig { 
    BackendUrl = Url.Content("~/Month/Backend"),
    Theme = "month_blue",
                
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "createEvent(start, end)",
    EventMoveHandling = EventMoveHandlingType.CallBack,
    EventResizeHandling = EventResizeHandlingType.CallBack
}))
</div></div>



